@charset "UTF-8";
@import url("var.css");

#taskbar{
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--color-window);
    border-left: hidden;
    height: 2.2rem;
    display: none;
    align-items: center;
    outline-style: solid;
    outline-width: 2.5px;
    outline-color: var(--color-window);
}

#taskbar, #taskbar >*{
    z-index: 100;
}

#start{
    height: var(--tab-height);
    max-height: var(--tab-height);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    padding: 0.3rem;
    margin: 0.2rem;
    font-weight: bold;
    letter-spacing: normal;
    flex-wrap: nowrap;
    overflow: clip;
    cursor: default;
}

.default{
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--color-border);
    box-shadow: var(--shadow);
}

.divider{
    position: relative;
    width: calc(var(--border-width) + 1px);
    border-top: hidden;
    border-bottom: hidden;
}

#startdivider{
    height: calc(var(--tab-height) + 1px);
    margin: 0.1rem 0.1rem 0.1rem 0.05rem;
    top: 1px;
}

#enddivider{
    height: var(--tab-height);
}

#startnub{
    position: relative;
    height: calc(var(--tab-height) - 6px);
    width: calc(var(--border-width) + 3px);
    margin: 0.1rem 0.2rem 0.1rem 0.05rem;
    top: 1px;
}

#tab0, #tab1{
    height: var(--tab-height);
    display: none;
    width: 11rem;
    margin: 0.2rem;
    padding: 0.3rem;
    font-size: 0.80rem;
    cursor: default;
}

.unfocus{
    height: var(--tab-height);
    width: 11rem;
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: clip;
    justify-content: left;
    align-items: center;
    margin: 0.2rem;
    padding: 0.3rem;
    font-size: 0.85rem;
    font-weight: normal;
    border-style: solid;
    border-width:var(--border-width);
    border-color: var(--color-border);
    box-shadow: var(--shadow);
}

.focus, .mouse-down{
    display: inline-flex;
    flex-wrap: nowrap;
    overflow: clip;
    justify-content: left;
    align-items: center;
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--color-border-inline);
    box-shadow: var(--shadow-inline), var(--shadow-inline-b);
}

.mouse-down{
    font-weight: normal;
    background-color: var(--color-window);
}

.focus{
    font-weight: bold;
    background-color: white;
    background-image: var(--checkerboard);
    background-size: var(--checkerboard-size);
    background-position: var(--checkerboard-pos);
}

#divbreak{
    display: flex;
    flex-grow: 1;
}

#tray{
    height: var(--tab-height);
    width: 7.5rem;
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--color-border-rev);
    display: inline-flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
    font-size: 0.85rem;
    padding: 0.3rem;
    margin: 0.2rem;
}

#tray span{
    position: relative;
    left: 10px;
}

.trayicon{
    position: relative;
    width: 23px;
    height: 23px;
    margin-right: 2px;
    right: 4px;
}

#startmenu{
    position: absolute;
    left: 4px;
    bottom: 40px;
    display: none;
    z-index: 1000;
    background-color: var(--color-window);
    height: 60%;
    width: 15%;
}
#startmenulogo{
    position: relative;
    z-index: 1050;
    left: 0.12vw;
    top: 0.12vw;
    height: calc(100% - 0.25vw);
    width: 15%;
    background-color: #808080;
    background-image: url("assets/mspaintz-startmenu-vert.png");
    background-size: 70% 38%;
    background-repeat: no-repeat;
    background-position: 0.30vw 19vw;
}
#startmenubuttons{
    z-index: 1025;
    position: relative;
    font-size: 1vw;
    left: 0.125vw;
    top: 0.1vw;
    justify-content: center;
    display: inline-flex;
    flex-direction: column;
    height: calc(100% - 0.20vw);
    width: 84%;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 1fr, 0.1fr, 1fr, 1fr, 1fr;
}

#menudiv{
    display: block;
    position: absolute;
    z-index: 1010;
    left: 0.1vw;
    bottom: 9.5vw;
    width: calc(100% - 0.25vw);
}

.smb{
    display: inline;
    text-align: left;
    line-height: 0px;
    height: 10%;
}

.smb:hover{
    background-color: var(--color-header-f);
    color: var(--color-border-l);
    cursor: default;
}

.sm-icons{
    position: relative;
    top: 0.50vw;
    left: 0.80vw;
    margin-right: 1.5vw;
    height: 2.1vw;
    width: 16%;
}

#smb7, #smb8{
    flex-basis:11%;
}

#smb7 > .smbt, #smb8 > .smbt{
    position: relative;
    bottom: 0.12vw;
}

.smbt{
    position: relative;
    bottom: 0.25vw;
}
